* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    background-color: black;
}

header {
    color: white;
    font-size: 3.125rem;
    font-weight: normal;
}

.download-link a{
    color: aquamarine;
}

