* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    background-color: black;
}

header {
    color: white;
    font-size: 3.125rem;
    font-weight: normal;
}

.download-link a{
    color: aquamarine;
}

.mid-section {
    color: white;
}

.mid-section .subheader{
    font-size: 2.625rem;
    font-weight: 300;
}

.mid-section .gray-text {
    font-size: 1.3125;
    color: gray;
}

.lower .coming-soon {
    font-size: 2.625rem;
    font-weight: 300;
    color: white;
}

footer {
    color: gray;
    text-align: right;
    padding-right: 10px;
}
